{% extends 'base.html.twig' %}

{% block title %}Éditer le Plan d'Entraînement{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Éditer le Plan d'Entraînement</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
