{% extends 'base.html.twig' %}

{% block title %}Éditer Utilisateur{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Éditer Utilisateur</h1>
        {{ form_start(userForm) }}
        {{ form_widget(userForm) }}
        {{ form_end(userForm) }}
    </div>
{% endblock %}
