{% extends 'base.html.twig' %}

{% block title %}Éditer l'Objectif{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Éditer l'Objectif</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
